.dev {
  background-color: lightblue;
}

body{
  margin: 0px;
  background-image: url(images/pub.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
  margin: 0px;
  padding: 0px;
}

h1{
  color: white;
  font-family: 'Meddon', cursive;
  margin: 0px;
}

div {
  bottom: 0;
  position: absolute;
  display: inline-block;
  justify-content:center;
  align-items:center;
  overflow: visible;
}

#shakespeare{
  width: 75%;
}

.container {
  height: 90%;
  width: 75%;
  overflow: auto;
}

img {
  width: 100%;
  vertical-align: bottom;
  flex-shrink:0;
  min-width:100%;
  min-height:100%;
  z-index: 1;
}

#poem {
  width: 400px;
  height: 400px;
  position: relative;
  float: right;
  margin-right: 10%;

  background-image: url(images/speech-bubble.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*overflow: scroll;*/
}


p{
  width: 75%;
  margin: 0 auto;
  padding-top: 30%;
  text-align: center;
  font-family: 'Almendra Display', cursive;
  font-size: 25px;
  color: black;
  position: relative;
}
