.dev {
  background-color: lightblue;
}

body{
  margin: 0px;
  background-image: url(../images/pub.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1{
  padding: 20px;
  color: white;
  font-family: 'Meddon', cursive;
}

div {
  bottom: 0;
  position: absolute;
  display: inline-block;
  justify-content:center;
  align-items:center;
  overflow: visible;
}

#shakespeare{
  width: 75%;
}

.container {
  height: 90%;
  width: 75%;
  overflow: auto;
}

img {
  width: 100%;
  vertical-align: bottom;
  flex-shrink:0;
  min-width:100%;
  min-height:100%;
  z-index: 1;
}

.words {
  width: 420px;
  height: 320px;
  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 20%;
}


#poem {
  background-image: url(../images/speech-bubble.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  display: none;
}

p {
  width: 75%;
  margin: 0 auto;
  padding-top: 20%;
  position: relative;
  text-align: center;
}

#poem > p{
  font-family: 'Almendra Display', cursive;
  font-size: 25px;
  color: black;
}

#welcome > p{
  color: white;
  font-size: 30px;
}
